.osnova,.zagol
{
	font-family: open-sans-n3, sans-serif;
}

#u285-12,#u731-6,#u286-13,#u733-5
{
	font-family: open-sans-n3, sans-serif;
}

#u142-4
{
	font-family: open-sans-n7, sans-serif;
}

#u133-6,#u237-6,#u238-4,#u540-4
{
	font-family: open-sans-n3, sans-serif;
}

#u542-4
{
	font-family: open-sans-n3, sans-serif;
}

#u546-4
{
	font-family: open-sans-n3, sans-serif;
}

#u545-4
{
	font-family: open-sans-n3, sans-serif;
}

#u517-4
{
	font-family: open-sans-n3, sans-serif;
}

#u518-4
{
	font-family: open-sans-n3, sans-serif;
}

#u512-4
{
	font-family: open-sans-n3, sans-serif;
}

#u547-4
{
	font-family: open-sans-n3, sans-serif;
}

#u513-4
{
	font-family: open-sans-n3, sans-serif;
}

#u525-4
{
	font-family: open-sans-n3, sans-serif;
}

#u524-4
{
	font-family: open-sans-n3, sans-serif;
}

#u808-4
{
	font-family: open-sans-n3, sans-serif;
}

#u807-4
{
	font-family: open-sans-n3, sans-serif;
}

#widgetu539_input,#widgetu539_prompt,#widgetu543_input,#widgetu543_prompt,#widgetu515_input,#widgetu515_prompt,#widgetu523_input,#widgetu523_prompt,#widgetu806_input,#widgetu806_prompt
{
	font-family: open-sans, sans-serif;
}

#u764-4,#u768-4,#u779-4,#u783-6
{
	font-family: open-sans-i3, sans-serif;
}

#u367-4
{
	font-family: open-sans-n3, sans-serif;
}

